<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/AnalyzeStyle.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
    <link rel="icon" href="https://jennipher.tech/assets/j.png" type="image/png">
    <title>Analyze Data</title>
</head>
<body>
    <div class="container">
        <h1>Data info:</h1>
        <div class="info">
            {{ info | safe }}
        </div>
        <br>
        <h1>Graph:</h1>
        <footer>
            <a href="/">Go Back</a>
        </footer>
    </div>
</body>
</html>