<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/IndexStyle.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
    <link rel="icon" href="https://jennipher.tech/assets/j.png" type="image/png">
    <title>Error</title>
</head>
<body>
    <div class="container">
      <h1>An error occurred</h1>
      <h2>{{ desc }}</h2>
      <footer>
        <a href="/">Go Back</a>
      </footer>
    </div>
</body>
</html>